<% if(typeof prescriptionAccess != "undefined" && prescriptionAccess.length){ %>
  <h3>Few Approval needed for prescriptions</h3>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Sr.no</th>
        <th>Name</th>
        <th>Description</th>
        <th>Approval Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <% for(var i=0; i < prescriptionAccess.length; i++) { %>
        <tr>
          <td><%=i+1%></td>
          <td class="mdl-data-table__cell--non-numeric"><%=prescriptionAccess[i].prescriptionAccessedBy.name%></td>
          <td class="mdl-data-table__cell--non-numeric"><%=prescriptionAccess[i].prescriptionId.description%></td>
          <td class="mdl-data-table__cell--non-numeric"><%=prescriptionAccess[i].approvalStatus.name%></td>
          <td class="mdl-data-table__cell--non-numeric">
            <% if(prescriptionAccess[i].approvalStatus.id == 1 || prescriptionAccess[i].approvalStatus.id == 2 ){ %>
              <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect js-status-change" data-status='3' data-prescriptionAccessId=<%=prescriptionAccess[i].id%>>
                click to approve
              </button>
            <% } %>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <% if(prescriptionAccess[i].approvalStatus.id == 1 || prescriptionAccess[i].approvalStatus.id == 3 ){ %>
              <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect js-status-change" data-status='2' data-prescriptionAccessId=<%=prescriptionAccess[i].id%>>
                click to reject
              </button>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
 <% } else { %>
   <% if(typeof userData != "undefined" && userData){ %>
     <h3>You have no prescriptions for approval</h3>
   <% } else { %>
     <h3>Welcome to largest health care portal</h3>
   <% } %>
<% } %>
