<% if(medicalRecord){ %>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Sr.no</th>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th>Description</th>
        <th>Date</th>
        <th>Prescriptions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><%=medicalRecord.id%></td>
        <td class="mdl-data-table__cell--non-numeric"><%=medicalRecord.description%></td>
        <td class="mdl-data-table__cell--non-numeric"><%=moment(medicalRecord.createdAt).format('Do MMMM, YYYY')%></td>
        <td class="mdl-data-table__cell--non-numeric">
          <% if(medicalRecord.prescriptions.length){ %>
             <% for(var i=0; i < medicalRecord.prescriptions.length; i++) { %>
               <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/prescription-records/<%=medicalRecord.prescriptions[i].id%>" target="_blank">
                 Prescription <%=i + 1%>
               </a>
             <% } %>
          <% } else { %>
            No Prescription for this Record
          <% } %>
        </td>
      </tr>
    </tbody>
  </table>
 <% } else { %>
   <h6>  No medical Record Found with this ID </h6>
<% } %>
